@media (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 0px) and (max-width: 767px) {
	.main-banner__text h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.main-tareas-2 .main-tareas_grid {
		padding: 0 !important;
	}
	.main-tareas-2 .main-tareas_item {
		margin-bottom: 0;
		width: 100% !important;
	}
	.main-tareas_item-content p {
		font-size: 12px;
	}
	.main-tareas_grid {
		display: grid !important;
		grid-template-columns: 1fr 1fr !important;
	}
	.offcanvas-collapse {
		position: fixed;
		top: 58px;
		bottom: 0;
		left: 100%;
		width: 100%;
		padding-right: 0rem;
		padding-left: 0rem;
		overflow-y: auto;
		visibility: hidden;
		background-color: #fff;
		transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-property: left, visibility;
	}

	.offcanvas-collapse.open {
		left: 0px;
		visibility: visible;
		flex-direction: column-reverse;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.btn-custom-nav {
		border: 2px solid #ec8603;
		border-radius: 50px;
		color: #ffffff !important;
		background: #ec8603 !important;
		margin-bottom: 15px;
	}
	.navbar-nav .nav-link {
		color: #ec8603;
	}
	.main-footer_grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
		color: #fff;
	}
	.mr-3,
	.mx-3 {
		margin-right: 0rem !important;
	}
	.naranja-color {
		margin-bottom: 21px;
	}
	.masonry-with-columns .main-service__card {
		margin-bottom: 50px;
	}
	.hj {
		background: white;
		margin-left: 0;
		box-shadow: 0 0 14px #00000033;
		height: auto;
		width: auto;
		border-radius: 10px;
		padding: 25px;
	}
	.main-tareas_grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}
	.main-tareas_item-content {
		width: 100%;
	}
	.main-tareas-2 .main-tareas_item-content {
		width: 100%;
	}
	.main-brand {
		display: inherit;
	}
	.navbar-brand img {
		width: 70%;
	}
	.navbar-toggler:not(:disabled):not(.disabled) {
		cursor: pointer;
		color: white;
		position: absolute;
		right: 30px;
		top: 16px;
	}
	.titulo-general p {
		font-size: 25px;
	}
	.main-tareas {
		margin-top: 10px;
	}
	.main-banner__text p {
		font-size: 19px;
	}
	.main-banner {
		margin-top: 58px;
	}
	.main-banner__text h1 {
		font-size: 30px;
		margin-bottom: 1rem;
	}
	.main-banner__text {
		padding: 15px;
	}
	#iso {
		display: none;
	}
	.btn-content {
		display: flex;
		flex-direction: column;
		margin: 15px;
		align-items: center;
	}
	.btn-content .mr-4,
	.mx-4 {
		margin-right: 0 !important;
	}
	.btn-custom {
		font-size: 12px;
		padding: 12px !important;
	}
	.btn-custom {
		margin-bottom: 20px;
		width: 80%;
	}
	.cta-bg {
		width: 95%;

		padding: 25px;

		margin-top: 100px;
	}
	.slick-dots {
		padding-left: 0rem;
	}
	.main-banner::after {
		bottom: -40px;
	}
	.main-banner::before {
		bottom: -20px;
	}
	.arrow {
		bottom: 32%;
	}

	.cta-bg span {
		padding: 0;
	}
	.main-tareas-2 .main-tareas_grid {
		padding: 0;
	}
	.bg-testimonios {
		padding: 0;
	}
	.main-funciona_grid {
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}
	.cards {
		margin: 0;
	}
	.card-contenido {
		width: 100%;
		margin-bottom: 50px;
	}
	footer ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	.footer:nth-child(1) li:before {
		color: #353535;
	}
	footer li {
		margin-bottom: 10px;
	}
	.border-b {
		display: none;
	}
	.iso-desk {
		display: block;
	}
}
@media (min-width: 320px) and (max-width: 500px) {
}

@media (max-width: 991px) {
	.cards.mt-5 .col-md-6 {
		display: flex;
	}
	.slick-dots {
		padding: 0;
	}
	.cta .cta-ilutracion {
		object-fit: contain;
	}
	.main-tareas_grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.main-tareas_item-content {
		margin: 10px;
	}

	.navbar {
		height: 60px;
	}
	.navbar-expand-md {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.main-banner__text p {
		font-size: 20px;
	}
	.main-tareas {
		margin-top: 12px;
	}
	.cta-bg {
		border-radius: 10px;
		width: 90%;
	}
	.main-tareas-2 .main-tareas_item {
		margin-bottom: 0;
		width: 30%;
	}
	.main-tareas-2 .main-tareas_grid {
		padding-left: 120px;
		padding-right: 120px;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card-contenido span {
		font-size: 13px;
	}
	.footer:nth-child(1) li:before {
		color: #353535;
	}
	.navbar-brand img {
		width: 60%;
		margin-top: 15px;
	}

	#iso {
		width: 150px;
		margin-top: 15px;
	}
	.navbar-expand-md .navbar-nav .nav-link {
		font-size: 12px;
	}
	.btn-custom-nav {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.main-banner::after {
		bottom: -48px;
	}
	.main-banner::before {
		bottom: -36px;
	}
	.arrow {
		bottom: 20%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.main-tareas-2 .main-tareas_grid {
		padding-left: 0;
		padding-right: 0px;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.main-tareas-2 .main-tareas_item {
		margin-bottom: 0;
		width: 25%;
	}

	.navbar-nav .nav-link {
		align-items: flex-start;
	}
	.content-tetimonios img {
		width: 38px;
		height: 38px;
	}
	.main-tareas-2 .main-tareas_grid {
		padding-left: 0;
		padding-right: 0px;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.main-tareas-2 .main-tareas_item {
		margin-bottom: 0;
		width: 25%;
	}

	.navbar-nav .nav-link {
		align-items: flex-start;
	}
	.navbar-nav .nav-link {
		color: #ffffff;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: self-start;
	}
}
